/* Resetto la pagina */
*{
    margin: 0;
    box-sizing: border-box;
}
/* imposto il background color del body */
body{
    background-color: rgba(230, 242, 247, 0.89);
}
.navbar{
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
/* impostazioni grafiche bottoni */
.twobutton {
    height: 50px;
    background-color: white;
}
.buttons {
    padding-top: 12px;
    padding-left: 50px;
}

#A{
    height: 30px;
    width: 90px;
    color: white;
    background-color: rgb(74, 137, 253);
    border-radius: 5px;
    
}

#B{
    height: 30px;
    width: 110px;
    background-color: white;
    color: darkgrey;
    border-radius: 5px;
}
